.invest-class {
  border-radius: 20px;
  background-color: #f4f4f4;
  color: #013d37;
  padding: 40px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.invest-class--active {
    background-color: rgb(15,188,153);
    background: linear-gradient(0deg, rgba(15,188,153,1) 0%, rgba(28,243,200,1) 100%);
    color: #fff;
  }
}
